.devspace-player-container {
    max-width: 100%; 
    min-height: 80px; 
}

.audio-player-container {
    filter: sepia(20%) saturate(70%) grayscale(1);
    outline: none;
}

.custom-audio-element {
    max-height: 30px;
}

.album-artwork {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #666;
}